#.
apiVersion: apps/v1  #Older versions of k8s use apps/v1beta1
kind: Deployment
metadata:
  name: flask-backend-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-backend
  # minReadySeconds: 3
  strategy:
    type: Recreate
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1 # At least 1 pod can be unavailable.
      maxSurge: 2 # Add 2 pod at a time.
  template:
    metadata:
      labels:
        app: flask-backend
    spec:
      containers:
      - name: flask-backend
        image: us-west1-docker.pkg.dev/g-testv1/wanna-b-gtc-repo/flask-backend:latest
        ports:
        - containerPort: 5000
